<div class="main">
    <div class="chat">
        <div class="chat-message1">
            <div class="chat-message2">
                <div class="container">
                <p><span style="word-spacing: 20pt"><span style="font-weight: bold">test</span> 2020/08/03(Mon)01:49</span> </P> 
                <p><span class="space">どりゃあああああああああああああああああああああああああああああああああああああああああああああああ</span></p>
            
                </div>

                
           </div>
           <div class="message-edit">
            <ul>
              <li><a href="#">edit</a></li>
              <li><a href="#">delete</a></li>
            </ul>
          </div>    
        </div>
        <div class="chat-message1">
            <div class="chat-message2">
                <div class="container">
                    <p><span style="word-spacing: 20pt"><span style="font-weight: bold">test</span> 2020/08/03(Mon)01:51</span> </P> 
                    <p><span class="space">どりゃあああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</span></p>
                
                    </div>
    
    
                
           </div>
           <div class="message-edit">
            <ul>
              <li><a href="#">edit</a></li>
              <li><a href="#">delete</a></li>
            </ul>
          </div>    
        </div>

        <div class="chat-message1">
            <div class="chat-message2">
                <div class="container">
                    <p><span style="word-spacing: 20pt"><span style="font-weight: bold">test</span> 2020/08/03(Mon)01:53</span> </P> 
                    <p><span class="space">どりゃあああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</span></p>
                
                    </div>
    
    
                
           </div>
           <div class="message-edit">
            <ul>
              <li><a href="#">edit</a></li>
              <li><a href="#">delete</a></li>
            </ul>
          </div>    
        </div>
    </div>
   


    
    <div class="chat-form">
      <form>
        <input 
        type="text" class="text"
    >
        <input 
        type="submit" 
        value="SEND" 
        class="submit"
         />
         
      </form>
    </div>
</div>
